html, body {
  height: 100%;
  width: 100%;
  
}
body{
  background-image:  url("https://thumbs.dreamstime.com/b/fondo-de-la-textura-acuarela-en-tonos-azules-138535240.jpg");}
h1{
  color:#07075a;
  border: white;
  background-color:#eceef9;
}
h3{
  border:#30df93 solid;
  color:#ffffff;
  background-color:#80ffc6;
}
ul li {
    background-color: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-rigth: 1em solid black
  }
  
  ul :hover{
    background-color: #55a9dd;
    text-decoration: none;
    color: white
}
  
img
{height:5000X;
width:1000px;
}

nav {
  padding-top: 20px;
  background-color: #4794ae;
  padding-bottom: 10px;
}

nav a {
  padding-right: 40px;
  padding-left: 120px;
  font-family: sans-serif;
  color: #d6d6d6;
}

nav a.menu {
  display: inline;
  font-size: 10px;
}

nav a.footer {
  float: right;
  display: block;
  font-size: 5px;
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.gallery img{
  margin: 20px 5px;
  display: inline;
  width: 400px;
  height: 400px;
}
